<h1>Список твоих сериалов</h1>

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Сериал</th>
      <th>Сезон</th>
      <th>Серия</th>
      <th>Дата выхода серии</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <!-- сортировка с учетом nil - магия, которую я не совсем понял -->
    <% @sorted_tv_series = @tv_series.sort_by {|tv_series| [tv_series.next_episode_date ? 0 : 1, tv_series.next_episode_date || 0]} %> 
    <% @counter = 1 %>
    <% @sorted_tv_series.each do |tv_series| %>
      <% if tv_series.next_episode_date && tv_series.next_episode_date < Date.today %>
        <tr class="time-to-watch">
      <% elsif tv_series.next_episode_date && tv_series.next_episode_date == Date.today %>
        <tr class="time-to-watch-on-tv">
      <% else %>
        <tr>
      <% end %>
          <td><%= @counter %></td>
          <td><%= link_to tv_series.name, tv_series %></td>
          <td><%= tv_series.season %></td>
          <td><%= tv_series.episode %></td>
          <% if (tv_series.next_episode_date) %>
            <td><%= tv_series.next_episode_date.strftime('%d.%m.%Y') %><br><%= link_to 'Дата неверна?', edit_tv_series_path(tv_series) %></td>
          <% else %>
            <td>Неизвестно.<br><%= link_to 'Указать дату', edit_tv_series_path(tv_series) %></td>
          <% end %>
          <% @name = tv_series.name.gsub(' ', '%20') %>
          <% @season = tv_series.season < 10 ? '0' + tv_series.season.to_s : tv_series.season.to_s %>
          <% @episode = tv_series.episode < 10 ? '0' + tv_series.episode.to_s : tv_series.episode.to_s %>
          <% if(tv_series.next_episode_date && tv_series.next_episode_date < Time.now) %>
            <td><%= link_to 'Найти субтитры', 'http://www.opensubtitles.org/en/search2/sublanguageid-eng/moviename-' + @name + '+s' + @season + 'e' + @episode, target: '_blank' %></td>
            <td><%= link_to 'Найти torrent', 'https://kat.cr/usearch/' + @name + '%20s' + @season + 'e' + @episode + '%20720p/', target: '_blank' %></td>
            <td><%= link_to 'Я посмотрел серию', tv_series_path(tv_series, tv_series: {episode: tv_series.episode + 1, next_episode_date: tv_series.next_episode_date + 1.week}), method: :patch, data: {confirm: 'Точно посмотрел?'} %><br>
            <%= link_to 'Я посмотрел сезон', tv_series_path(tv_series, tv_series: {season: tv_series.season + 1, episode: 1, next_episode_date: nil}), method: :patch, data: {confirm: 'Целый сезон?'} %></td>
          <% else %>
            <td colspan="3">Серия ещё не вышла</td>
          <% end %>
          <td><%= link_to 'Изменить', edit_tv_series_path(tv_series) %></td>
          <td><%= link_to 'Удалить', tv_series, method: :delete, data: {confirm: 'Надоело?'} %></td>
        </tr>
      <% @counter = @counter + 1 %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Добавить сериал', new_tv_series_path %>
