<h1><%= @tv_series.name %></h1>

<table class="table">
<tr><td>Ты будешь смотреть <%= @tv_series.episode %> серию <%= @tv_series.season %> сезона</td></tr>
<% if (@tv_series.next_episode_date) %>
	<tr><td><%= @tv_series.next_episode_date.strftime('%d.%m.%Y') %>. <%= link_to 'Дата неверна?', edit_tv_series_path(@tv_series) %></td></tr>
<% else %>
	<tr><td>Дата выхода серии неизвестна. <%= link_to 'Указать дату', edit_tv_series_path(@tv_series) %></td></tr>
<% end %>
<% @name = @tv_series.name.gsub(' ', '%20') %>
<% @season = @tv_series.season < 10 ? '0' + @tv_series.season.to_s : @tv_series.season.to_s %>
<% @episode = @tv_series.episode < 10 ? '0' + @tv_series.episode.to_s : @tv_series.episode.to_s %>
<% if(@tv_series.next_episode_date && @tv_series.next_episode_date < Time.now) %>
	<tr><td><%= link_to 'Найти субтитры', 'http://www.opensubtitles.org/en/search2/sublanguageid-eng/moviename-' + @name + '+s' + @season + 'e' + @episode, target: '_blank' %></td></tr>
	<tr><td><%= link_to 'Найти torrent', 'https://kat.cr/usearch/' + @name + '%20s' + @season + 'e' + @episode + '%20720p/', target: '_blank' %></td></tr>
	<tr><td><%= link_to 'Я посмотрел серию', tv_series_path(@tv_series, tv_series: {episode: @tv_series.episode + 1, next_episode_date: @tv_series.next_episode_date + 1.week}), method: :patch, data: {confirm: 'Точно посмотрел?'} %></td></tr>
	<tr><td><%= link_to 'Я посмотрел сезон', tv_series_path(@tv_series, tv_series: {season: @tv_series.season + 1, episode: 1, next_episode_date: nil}), method: :patch, data: {confirm: 'Целый сезон?'} %></td></tr>
<% end %>
<tr><td><%= link_to 'Изменить сериал', edit_tv_series_path(@tv_series) %></td></tr>
<tr><td><%= link_to 'Удалить сериал', @tv_series, method: :delete, data: {confirm: 'Надоело?'} %></td></tr>
</table>

<%= link_to 'Назад', tv_series_index_path %>
